__pycache__/

*.egg-info/
.eggs/*

.ipynb_checkpoints/

node_modules/

anywidget/nbextension/index.js
anywidget/labextension/package.json
anywidget/labextension/static/*

dist/

.astro
.coverage
.dmypy.json
.venv
