__pycache__/

*.egg-info/
.eggs/*

.ipynb_checkpoints/

node_modules/

src/anywidget/nbextension/index.js
src/anywidget/labextension/package.json
src/anywidget/labextension/static/*

dist/

.astro
.coverage
.dmypy.json
