---
import HeadCommon from "../components/HeadCommon.astro";
import Header from "../components/Header/Header.astro";
import * as CONFIG from "../config";

type Props = {
	frontmatter?: CONFIG.Frontmatter;
};

const { frontmatter } = Astro.props as Props;
const currentPage = Astro.url.pathname;
---

<html
	dir={frontmatter?.dir ?? "ltr"}
	lang={frontmatter?.lang ?? "en-us"}
	class="initial"
>
	<head>
		<HeadCommon />
		<title>
			{
				frontmatter?.title
					? `${frontmatter.title} 🚀 ${CONFIG.SITE.title}`
					: CONFIG.SITE.title
			}
		</title>
		<style>
			.layout {
				height: 100vh;
			}
			:global(#menu-toggle) {
				display: none;
			}
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />
		<main class="layout">
			<article>
				<slot />
			</article>
		</main>
	</body>
</html>
