---
import HeadCommon from "../components/HeadCommon.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import * as CONFIG from "../config";

type Props = {
	frontmatter?: CONFIG.Frontmatter;
};

const { frontmatter } = Astro.props as Props;
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
---

<html
	dir={frontmatter?.dir ?? "ltr"}
	lang={frontmatter?.lang ?? "en-us"}
	class="initial"
>
	<head>
		<HeadCommon />
		<title>
			{
				frontmatter?.title
					? `${frontmatter.title} 🚀 ${CONFIG.SITE.title}`
					: CONFIG.SITE.title
			}
		</title>
		<style>
			html,
			body,
			main {
				height: 100%;
			}
			main {
				display: grid;
				place-items: center;
				padding-inline: var(--min-spacing-inline);
			}
			:global(#menu-toggle) {
				display: none;
			}
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />
		<main class="layout splash-layout">
			<article>
				<slot />
			</article>
		</main>
		<Footer path={currentFile} />
	</body>
</html>
