---
import { Sprite } from "astro-icon";
import AnyWidgetLogo from "./AnyWidgetLogo.astro";
import SkipToContent from "./SkipToContent.astro";
import SidebarToggle from "./SidebarToggle";
import LanguageSelect from "./LanguageSelect";
import ThemeToggleButton from "../RightSidebar/ThemeToggleButton";

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props as Props;
---

<header>
	<SkipToContent />
	<nav
		class="flex justify-between items-center h-14 sm:px-8 px-2"
		title="Top Navigation"
	>
		<a class="flex items-center font-semibold gap-2" href="/">
			<AnyWidgetLogo size={28} />
			anywidget
		</a>

		<div class="flex items-center divide-x h-8">
			<a class="px-4 h-full" href="/en/introduction">Guide</a>
			<a class="px-4 h-full" href="/en/Example">Notebooks</a>
			<div class="px-4 h-full">
				<ThemeToggleButton client:visible />
			</div>
			<div class="flex px-2 h-full">
				<a
					class="px-2"
					href="https://github.com/manzt/anywidget"
					target="_blank"
					rel="noreferrer"
				>
					<Sprite size={25} name="mdi:github" />
				</a>
				<a
					class="px-2"
					href="https://twitter.com/trevmanz"
					target="_blank"
					rel="noreferrer"
				>
					<Sprite size={25} name="mdi:twitter" />
				</a>
			</div>
		</div>
	</nav>
</header>
