:root {
  --docsearch-primary-color: var(--theme-accent);
  --docsearch-logo-color: var(--theme-text);
}

#docsearch {
  display: flex;
}

#docsearch .DocSearch-Button {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0.33em 0.67em;
  color: var(--theme-text-light);
  background: var(--theme-bg);
  border: 1px solid var(--theme-shade-subtle);
  border-radius: 99em;
  box-shadow: none;
}

#docsearch .DocSearch-Button:hover,
#docsearch .DocSearch-Button:focus {
  color: var(--theme-text);
  background: var(--theme-bg);
  border-color: var(--theme-text-light);
  box-shadow: none;
}

#docsearch .DocSearch-Search-Icon {
  width: 1em;
  height: 1em;
  color: currentColor;
}

#docsearch .DocSearch-Button-Placeholder,
#docsearch .DocSearch-Button-Keys {
  display: none;
}

@media (min-width: 50em) {
  #docsearch .DocSearch-Button {
    width: 16.5rem;
    max-width: 100%;
    padding-inline: 1rem;
  }

  #docsearch .DocSearch-Button-Placeholder,
  #docsearch .DocSearch-Button-Keys {
    display: flex;
  }
}

.DocSearch-Modal .DocSearch-Hit a {
  border: 1px solid var(--theme-accent);
  box-shadow: none;
}
