---
import GitHubCard from "./GitHubCard.astro"
import { z } from "astro:content";

let base = new URL("https://manzt.github.io/build-with-anywidget/manifest-complete.json");

let RepoSchema = z.object({
  repo: z.string(),
  description: z.string(),
  stars: z.number(),
  image: z.string().optional(),
  gif: z.string().optional(),
});

let response = await fetch(base);
let raw = await response.json();
let repos = z.array(RepoSchema).parse(raw);
repos.sort((a, b) => {
  // First, sort by the presence of imageUrl
  if (a.image && !b.image) {
    return -1;
  } else if (!a.image && b.image) {
    return 1;
  }
  // Then, sort by the highest number of stars.
  return b.stars - a.stars;
});

let widgets = repos.map((repo) => ({
  ...repo,
  image: repo.image ? new URL(repo.image, base).href : undefined,
  gif: repo.gif ? new URL(repo.gif, base).href : undefined,
}));
---

<div class="grid grid-cols-2 gap-2">
  {widgets.map((d) => <GitHubCard {...d} />)}
</div>
