---
import GitHubCard from "./GitHubCard.astro"
import { z } from "astro:content";

let RepoSchema = z.object({
  repo: z.string(),
  description: z.string(),
  stars: z.number(),
  imageUrl: z.string().optional(),
});

let response = await fetch("https://manzt.github.io/build-with-anywidget/repos-complete.json");
let raw = await response.json();
let widgets = z.array(RepoSchema).parse(raw);
widgets.sort((a, b) => {
  // First, sort by the presence of imageUrl
  if (a.imageUrl && !b.imageUrl) {
    return -1;
  } else if (!a.imageUrl && b.imageUrl) {
    return 1;
  }
  // Then, sort by the highest number of stars.
  return b.stars - a.stars;
});
---

Many tools have been built with AnyWidget. Here are some of them:

<img class="max-w-md m-auto" src="/teaser.png" />

<div class="grid grid-cols-2 gap-2">
  {widgets.map((d: any) => <GitHubCard {...d} />)}
</div>
