---
import Link from "./Link.astro";
import Counter from "./examples/Counter.astro";
---

<main
	class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
>
	<div class="py-6 md:order-1 hidden md:block"><Counter /></div>

	<div>
		<div class="flex gap-2">
			<h1
				class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
			>
				anywidget
			</h1>
		</div>

		<p class="text-lg mt-4 text-slate-500 max-w-xl">
			custom jupyter widgets, made simple
		</p>

		<div class="mt-6 flex flex-col sm:flex-row gap-3">
			<Link
				href="/en/introduction"
				class="flex gap-1 items-center justify-center"
			>
				Getting Started
			</Link>

			<Link
				size="lg"
				style="outline"
				rel="noopener"
				href="https://github.com/manzt/anywidget"
				class="flex gap-1 items-center justify-center"
				target="_blank"
			>
				GitHub Repo
			</Link>
		</div>
	</div>
</main>
