---
type Integration = {
	url: string;
	name: string;
	logo: string;
	status: "implemented" | "planned";
};

let integrations = [
	{
		name: "marimo",
		url: "https://github.com/marimo-team/marimo",
		logo: "https://raw.githubusercontent.com/marimo-team/marimo/main/docs/_static/marimo-logotype-thick.svg",
		status: "implemented",
	},
	{
		name: "MyST",
		url: "https://mystmd.org",
		logo: "https://raw.githubusercontent.com/executablebooks/MyST-Parser/master/docs/_static/logo-wide.svg",
		status: "planned",
	},
	{
		name: "Numerous Apps",
		url: "https://github.com/numerous-com/numerous-apps",
		logo: "https://raw.githubusercontent.com/numerous-com/numerous-apps/refs/heads/main/logo-with-text.svg",
		status: "planned",
	},
] satisfies Array<Integration>;
---

<div class="flex gap-4" id="integration">

	{integrations.map(({ url, name, logo, status }) => (
		<div class="relative w-fit h-fit">
			<a
				class="w-28 h-28 p-5 group flex bg-teal-50 border border-teal-200 rounded-lg hover:bg-teal-100 transition duration-100 ease-in-out"
				class:list={[status === "implemented" ? "opacity-100" : "opacity-70"]}
				href={url}
				aria-label={`Visit ${name} integration`}
			>
				<img class="image-preview w-full" src={logo} alt={name} />
				{status === "planned" && (
					<span class="w-full absolute text-center left-0 -bottom-7 rounded-lg">
						in progress
					</span>
				)}
			</a>
		</div>
	))}

</div>
