name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  LintPython:
    name: Python / Lint
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      # this could be replaced with pre-commit.ci
      - run: pipx run pre-commit run --all-files

  TestPython:
    name: Python / Test
    runs-on: macos-14
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
      - run: pnpm install --frozen-lock

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: |
          python -m pip install --upgrade pip
          pip install -e .[dev,test]

      - name: Run tests
        run: pytest ./tests --color=yes --cov anywidget --cov-report xml

      - uses: codecov/codecov-action@v4

  LintJavaScript:
    name: JavaScript / Lint
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
      - run: |
          pnpm install
          pnpm lint

  TypecheckJavaScript:
    name: JavaScript / Typecheck
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
      - run: |
          pnpm install
          pnpm typecheck

  TestJavaScript:
    name: JavaScript / Test
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2.4.0
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"
      - run: |
          pnpm install
          pnpm test
