name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  LintPython:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # this could be replaced with pre-commit.ci
      - run: pipx run pre-commit run --all-files

  TestPython:
    name: Test Python
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - run: pnpm install --frozen-lock

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: |
          python -m pip install --upgrade pip
          pip install -e .[dev,test]

      - name: Run tests
        run: pytest ./tests --color=yes --cov anywidget --cov-report xml

      - uses: codecov/codecov-action@v3

  TypecheckJavaScript:
    name: Typecheck JavaScript
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: |
          pnpm install
          pnpm typecheck

  TestJavaScript:
    name: Test JavaScript
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: |
          pnpm install
          pnpm test -- --run
